@{Layout = "_Layout";}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated){
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account")) {
    <input type="submit" value="Log out" class="btn btn-info" />
  }
}
else {
  <p>@Html.ActionLink("Log in ", "Login")  |@Html.ActionLink("Create Account", "Register")</p>
}