@{Layout = "_Layout";}

@model Pierre.Models.Treat;

<div class="card">
  <div class="card-header">
  <h3>New Treat</h3>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="col-auto">
      @using (Html.BeginForm()) {
        <div class="col-auto">
          @Html.LabelFor(m => m.Name)
          @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "Company", required="required"})
        </div>
        <div class="col-auto">
          @Html.LabelFor(m => m.Description)
          @Html.TextAreaFor(m => m.Description, new {@class = "form-control", placeholder = "Name"})
        </div>
        <br>
        <input type="submit" value="Submit" class="btn btn-info"/>
        }
      </p>
    </div>
  </div>
</div>