body{
  background: #0ABAB5;
}

#header {
	position:fixed;
  text-align: right;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	padding:8px;
}

#footer {
	position:fixed;
  text-align: center;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	padding:8px;
}

a:link {
  color: #b2ffed;
	text-decoration: none;
}

a:visited {
  color: #b2ffed;
	text-decoration: none;
}

a:hover {
  color: white;
	text-decoration: none;
}

a:active {
  color: white;
	text-decoration: none;
}